<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase">A propos </h3>

        <p>
          Chez IWABOOKS, nous sommes animés par une passion dévorante pour le pouvoir extraordinaire du mot écrit. Loin d'être de simples vendeurs de livres, nous nous considérons comme des gardiens de ces trésors de papier, prêts à vous guider à travers des univers insoupçonnés.

          Nos étagères regorgent bien plus que des histoires ordinaires : elles renferment des portes d'accès vers des mondes fantastiques, des perspectives inédites et des possibilités infinies. Chaque livre est une invitation à l'aventure, une promesse d'évasion et de découverte.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h3 class="text-uppercase">Socials</h3>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-white">X\Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-white">Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-white">LinkedIn</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h3 class="text-uppercase mb-0">Contact us</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Phone: +2125300099</a>
          </li>
          <li>
            <a href="#!" class="text-white">Email: contact@iwabooks.com</a>
          </li>
          <li>
            <a href="#!" class="text-white">Address: Faculté des Sciences de Tétouan- Tétouan</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    IWA Books
  </div>
  <!-- Copyright -->
</footer>